/* ------------------------------------ */
/*					CSS					*/
/*  	  Add your styles here			*/
/* ------------------------------------ */

.encumbrance {
    margin-top: 18px !important;
}
.encumbrance-label,
.encumbrance > label {
    margin: auto !important;
    width: 100% !important;
    text-align: center !important;
    top: -15px !important;
    /*color: #191813 !important;*/
    color: inherit !important;
    text-shadow: none !important;
}

.VELabel {
    bottom: -18px;
    display: block;
    position: absolute;
}

.VESpeed {
    width: 100% !important;
    text-align: right !important;
}

.DnDSpeed {
    width: inherit !important;
    margin: 0px !important;
    padding: 0px !important;
    text-align: left !important;
}

.encumbrance-breakpoint-label,
.encumbrance-breakpoint-label-variant,
.encumbrance-breakpoint-label-bulk {
    font-style: normal !important;
    bottom: -22px;
    width: 100px;
    left: -50px;
    text-align: center;
}

.encumbrance-bar,
.dnd5e dnd5e-inventory .capacity::after,
.dnd5e dnd5e-inventory .encumbrance::after {
    background: #6eb313 !important;
}

.encumbrance-bar.medium,
.dnd5e dnd5e-inventory .capacity.medium::after,
.dnd5e dnd5e-inventory .encumbrance.medium::after {
    background: #ea7e20 !important;
}

.encumbrance-bar.heavy,
.dnd5e dnd5e-inventory .capacity.heavy::after,
.dnd5e dnd5e-inventory .encumbrance.heavy::after {
    background: #e40000 !important;
}

.encumbrance-bar.max,
.dnd5e dnd5e-inventory .capacity.max::after,
.dnd5e dnd5e-inventory .encumbrance.max::after {
    background: repeating-linear-gradient(135deg, #2d2d2d, #2d2d2d 10px, #efd00e 10px, #efd00e 20px) !important;
}

.enable-disable-variant-encumbrance .fa-weight-hanging {
    color: crimson;
    text-shadow: 0 0 8px crimson;
}

.enable-disable-variant-encumbrance .fa-balance-scale-right {
    color: orange;
    text-shadow: 0 0 8px orange;
}

.enable-disable-variant-encumbrance .fa-feather {
    color: lightgreen;
    text-shadow: 0 0 8px lightgreen;
}

/* system bulk */

.encumbrance-bulk {
    margin-bottom: 16px !important;
    margin-top: 25px !important;
}

.encumbrance-bar-bulk {
    background: #6eb313 !important;
}

.encumbrance-bar-bulk.medium {
    background: #ea7e20 !important;
}

.encumbrance-bar-bulk.heavy {
    background: #e40000 !important;
}
.encumbrance-bar-bulk.max {
    background: repeating-linear-gradient(135deg, #2d2d2d, #2d2d2d 10px, #efd00e 10px, #efd00e 20px) !important;
}

.enable-disable-variant-encumbrance-bulk .fa-bold {
    color: #f6ff33;
    text-shadow: 0 0 8px #f6ff33;
}

.enable-disable-variant-encumbrance-bulk .fa-balance-scale-left {
    color: #ffe033;
    text-shadow: 0 0 8px #ffe033;
}

.enable-disable-variant-encumbrance-bulk .fa-feather-alt {
    color: #beff33;
    text-shadow: 0 0 8px #beff33;
}

/* from dnd5e system */

.dnd5e.sheet.actor .inventory-list .item-bulk {
    flex: 0 0 60px;
    border-left: 1px solid #c9c7b8;
    border-right: 1px solid #c9c7b8;
}
